body {
 
/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(0, #CC0404), color-stop(100, #000000));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #CC0404 0%, #000000 100%);

    /* IE10+ */ 
background-image: -ms-radial-gradient(center, ellipse farthest-corner, #CC0404 0%, #000000 100%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(center, ellipse farthest-corner, #CC0404 0%, #000000 100%);


}

table {
    background-color: #fff !important;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid;
    border-color: #ddd;
    text-align: left;
    padding: 8px !important;
}

.table-left, .table-left2, .table-left3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.table-right {
    margin-bottom: 15px;
}